@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.category a, .category a:visited {
    text-decoration: none;
    color: #e1e1e1;
}

body {
    margin: 0;
    background: #101731;
    color: aliceblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

#svg-line {
    padding-top: 0;
    padding-bottom: 0;
}

ul {
    list-style: none;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
}

.content-wrapper div {
    width: 100%;
    height: calc(100vh);
    outline: black solid 2px;
}

.nav-menu {
    display: grid;
    justify-items: center;
}

.nav-menu ul {
    align-items: center;
    padding-left: 0;
    width: 90%;

}

.nav-menu li {
    display: grid;
    outline: gray solid 1px;
    height: 4rem;
    text-align: left;
    align-items: center;
    border-radius: 0.3rem;
    padding-left: 2rem;
}

.nav-menu :not(:last-child) {
    margin-bottom: 5px;
}

.add-issue {
    width: 90%;
    height: 4rem;
    cursor: pointer;
    color: aliceblue;
    background: #4c5165;
    outline: white solid 1px;
    text-align: left;
    border-radius: 0.3rem;
    border: 0;
    padding-left: 2rem;
}

.add-issue:hover {
    background: #151823;
    outline: #6107b5 solid 1px;
}

.plan-issue {
    width: 30%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
}

.modal-team {
    display: block;
}

.modal-input-title {
    display: block;
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.modal-input-desc {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.plan-issue .modal-submit {
    display: block;
    position: relative;
    float: right;
    clear: both;
}